.navbar.navbar-default.navbar-fixed-bottom
    .container
        .row
            p.navbar-text.navbar-left
                a(href="https://s-top.github.io/") 个人博客
            p.navbar-text.navbar-right
                if count
                    span 访问次数统计：#{count} &nbsp;&nbsp;|&nbsp;&nbsp;
                span 数据来源：豆瓣 &nbsp;&nbsp;|&nbsp;&nbsp;
                span.bg-bule Copyright © 2018 S-top All Rights Reserved.
